<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
</head>
<body>
    <section class="contatos">
        <span>Valorant Win</span>
        <a href=""><img src="public/imagens/instagram.png" alt="instagram">
        </a>

        <a href=""><img src="public/imagens/facebook.png" alt="instagram">
        </a>

        <div class="img-logo"><img style="border: 0;" src="public/imagens/valorant-logo3.png" alt="vava"></div>
        <div class="img-menu"><img style="border: 0;" src="public/imagens/menu-aberto.png" alt="vava"></div>
    </section>

    <section class="menu">
        <ul>
            <a href="/home"><li style="background-color: #ccc;">Home</li></a>
            <a href="/campeonatos"><li>Campeonatos</li></a>
            <a href="recrutamento.html"><li>Recrutamento</li></a>
        </ul>
    </section>

    <section class="slider-container">

        <section class="slider" id="slider1">

            <img style="width: 100%;" height="auto" src="public/imagens/dragao1.jpg" alt="Vandal Ancifogo" title="Vandal Ancifogo">
            <img style="width: 100%;" height="auto" src="public/imagens/valorant2.jpg" alt="Teste" title="Teste">
            <img style="width: 100%;" height="auto" src="public/imagens/valorant3.jpg" alt="Teste" title="Teste">
            
            <section class="bolinhas-navegacao"></section><!--bolinhas-navegacao-->
        
        </section><!--slider-->
            
    </section><!--slider-container-->
 
    <main id="mainIndex">

        <section class="detalhes">
            <img src="public/imagens/detalhe.png" alt="">
            <h1>Funcionamento</h1>
            <img src="public/imagens/detalhe.png" alt="">
        </section>

        <section class="funcionamento">
            <h3>Campeonatos :</h3>
            <p>Caro soldados, na parte de Campeonatos está aberto para você divulgar o seu torneio para os outros players participarem.<br>
                Para cadastrar seu torneio descreva todos os critérios no campo que deixaremos na parte de Campeonatos.
            </p>

            <h3>Recrutamento :</h3>
            <p>Caro soldados, na parte de Recrutamento está aberto para divulgamentos de vagas para os players candidatar à vaga.<br>
                Para cadastrar os critérios de recrutamento do seu time é preciso preencher o campo que deixaremos na parte de Recrutamento.
            </p>
        </section>

        <section class="eventos">
            <ul>
                <a href="/campeonatos"><li class="menuMain" style="background-image: url(public/imagens/camp.jpg);"><p>Campeonatos</p></li></a>
                <a href="recrutamento.html"><li class="menuMain" style="background-image: url(public/imagens/camp1.jpg);"><p>Recrutamento</p></li></a>
            </ul>
        </section>

        <section class="vazia">
            
        </section>


    </main>

    <footer>
        <h1>Valorant Win</h1>

        <ul>
            <a href=""><img src="public/imagens/instagram.png" alt="instagram"></a>
            <a href=""><img src="public/imagens/facebook.png" alt="instagram"></a>
        </ul>
        <span>(c) 2020 Valorant Win</span>
    </footer>

    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="public/js/slider.js"></script>
    <script src="public/js/menuNavegacao.js"></script>
</body>
</html>